

  /* Apply the animation and gradient to the text */
 
  .login-page-cover-photo{
    background-image:linear-gradient(to right, rgba(255, 1, 1, 0.52), rgba(241, 40, 5, 0.741)),
    url('/assets/login page photo.png');
    background-size: cover;
    background-repeat: no-repeat;
  }